body {
    font-family: Poppins, sans-serif;
    background-color: #f9f9f9;
}

.photo-frame {
    width: 100%;
    height: 280px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #aaa;
    font-size: 16px;
}

.info-card {
    background-color: #f4f4f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
}

.btn-card {
    width: 270px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #aaa;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.btn-card:hover {
    background-color: #0056b3;
}

.btn-card.red {
    background-color: #d9534f;
}

.btn-card.red:hover {
    background-color: #c9302c;
}

.btn-layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-left: auto;
    /* Menggeser ke kanan agar sejajar dengan tabel */
}


.table-section {
    margin-top: 30px;
}

.table-section h5 {
    font-weight: bold;
}

.table {
    margin-top: 20px;
}

.table tbody tr {
    background-color: #f8f9fa;
}

.btn-layout .btn-card {
    height: 115px;
}