body {
    padding-top: 20px;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}
.status.waiting {
    background-color: #ffc107;
}
.status.verified {
    background-color: #28a745;
}
.status.rejected {
    background-color: #dc3545;
}
.pagination .page-link {
    border-radius: 5px;
}
.table-container {
    background-color: #F4F6F9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
table {
    background-color: #fff;
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd; /* Garis bawah seluruh tabel */
}
table th, table td {
    border: none;
    padding: 12px 16px;
}
table tbody tr {
    border-bottom: 1px solid #ddd;
}
table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
    border-bottom: 2px solid #ddd; /* Garis pemisah thead dan tbody */
    position: relative;
}
table tbody tr:last-child {
    border-bottom: none;
}
table tbody tr:hover {
    background-color: #f1f1f1; /* Warna latar belakang saat hover pada baris */
}
  /* Posisi gambar dropdown */
.dropdown-image {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: static;
    right: 45%;
    top: 50%;
    transform: translateY(-10%); /* Vertikal center */
}
.dropdown-menu {
    min-width: 200px;
    display: none; /* Sembunyikan dropdown menu secara default */
    position: absolute;
    top: 100%; /* Menampilkan dropdown di bawah */
    right: 0;
    z-index: 100;
}
.dropdown-image.open {
  transform: rotate(180deg); /* Memutar gambar ikon 180 derajat */
}
.dropdown-menu.show {
    display: block; /* Menampilkan dropdown jika di-trigger */
}