body {
    background-color: #f8f9fa;
    /* Warna latar abu-abu terang */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 60px;
    /* Hindari overlap dengan header */
    /* Sesuaikan dengan lebar sidebar */
    padding: 20px;
    transition: margin-left 0.3s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 60px);
    /* Sesuaikan dengan tinggi yang tersedia */
    overflow-y: auto;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    /* Warna putih untuk card */
    border: none;
    border-radius: 12px;
    /* Sudut membulat */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
    padding: 20px;
}

.card-title {
    color: #333;
}

.table th {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}


.name-col {
    text-align: left;
}

.role-col {
    text-align: center;
    padding-left: 1000px;
}

.action-col {
    text-align: center;
    padding-left: 1000px;
}

.badge {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.btn {
    font-size: 14px;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}